<h1>
  Welcome to Austin and Riley's project
  <ul>
    <li>
      <%= link_to("Gallery", gallery_index_path) %>
      <%= link_to("Alert",'#', onclick:'alert("Please no!")') %>
    </li>
  </ul>
</h1>